@import "https://fonts.googleapis.com/css?family=Lato:100";

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: "Lato", Arial, sans-serif;
}

section{
  width:100%;
  height: 100vh;
  color: #fff;
  background:linear-gradient(-45deg, #EE7752, #E73C7E,#E63946,#23A6D5,#23D5AB);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

h1{
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 0px solid white;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 5rem 10rem;
}

@keyframes change{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.button1{
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 10px;
  background-color:	hsla(203, 39%, 44%,0.5) ;
  color:#F1FAEE;
  padding: 25px 32px;
  display: inline-block;
  border-style: solid;
  border-color:hsla(203, 39%, 44%,0.6)  ;
  border-radius: 6px;
  border:none;
  align:center;
  transition-duration: 0.4s;

}

.button1:hover{
  background-color: #1D3557  ;
}


.container {
  height: 100px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
