<mat-grid-list cols="1" rowHeight="20:1">
  <mat-grid-tile>

  </mat-grid-tile>
  <mat-grid-tile>
    <img src="/assets/images/MHP_Logo_RGB.svg" alt="Logo" width="150" height="180">
  </mat-grid-tile>
  <mat-grid-tile>
    <h3 class="mat-h3">Welcome to the MHP-Porsche Employee Service!</h3>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-flat-button color="primary" routerLink="/registration" routerLinkActive="active">Register</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-flat-button color="accent" routerLink="/login" routerLinkActive="active">Login</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-flat-button color="primary" routerLink="/UserProfile">User Profile</button>
  </mat-grid-tile>
</mat-grid-list>

