<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item>Home</a>
      <a mat-list-item>Edit Profile</a>
      <a routerLink="/userskills" mat-list-item>Edit Skills</a>
      <a mat-list-item>Log Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="text-align: center;"><span><img src="assets/images/maramoo.png" alt="Logo" width="150"
                                                height="150"></span></div>
    <h1 style="text-align: center;" class="mat-h1">John Doe</h1>
    <div style="text-align: center;">
      <h4 class="mat-h4">Junior Dev 🞄 Central Europe 🞄 Romania </h4>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Level</th>
        <td mat-cell *matCellDef="let element"> {{element.level}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="experience">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> XP</th>
        <td mat-cell *matCellDef="let element"> {{element.experience}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <p></p>
    <table class="specialtable">
      <tr>
        <td class="specialtd" style="padding:0 15px 0 15px;"><img src="assets/images/java.jpg" alt="Mountains" style="width:100%"></td>
        <td class="specialtd" style="padding:0 15px 0 15px;"><img src="assets/images/java.jpg" alt="Mountains" style="width:100%"></td>
        <td class="specialtd" style="padding:0 15px 0 15px;"><img src="assets/images/java.jpg" alt="Mountains" style="width:100%"></td>
        <td class="specialtd" style="padding:0 15px 0 15px;"><img src="assets/images/java.jpg" alt="Mountains" style="width:100%"></td>
      </tr>
    </table>
  </mat-sidenav-content>
</mat-sidenav-container>

