
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tableskill {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 10px;
}

th,
td {
  padding: 15px;
  background-color:#ffff99;
  color:  #1a0000;
}

th {
  text-align: left;
  color: #fff;
}


th {
  background-color:#E63946;
}


.specialtable
{
  margin-left: 20px;
  width: 1150px;
  overflow: hidden;
  border-radius: 10px;
  border-spacing: 0 15px;
}

.specialtd
{
  background-color: #F1FAEE;

}




section{
  width:100%;
  height: 100%;
  color: black;
  background-color: #F1FAEE;
  position: relative;
}

.bgcolor{
  background-color: #E63946;
  color: #F1FAEE;
}




#main {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

