<mat-grid-list cols="1" rowHeight="4:1">
  <mat-grid-tile>
    <form class="example-form">
      <h1 class="mat-h1">Login</h1>
      <mat-form-field class="example-full-width">
        <mat-label>E-Mail</mat-label>
        <input [(ngModel)]="email" name="login_email_form" matInput  >
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="password" name="login_password_form" type="password" matInput>
      </mat-form-field>

      <mat-checkbox class="example-margin" id="remem">Rememeber me!</mat-checkbox>
      <p></p>
      <button mat-flat-button color="primary"  (click)="login()">Login</button>
    </form>
  </mat-grid-tile>
</mat-grid-list>
