<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="sm-jumbotron center-align">
        <h2> Registration </h2>
      </div>
      <form class="col s12 white" class="card-content" [formGroup]="form" #UserRegistrationForm="ngForm" autocomplete="off" (ngSubmit)="submitForm(registerForm.value)">
        <div class="row">
          <div class="input-field col s6">
            <input type="text" type="text" formControlName="UserName" class="validate"  required>
            <label data-error="Required Field">Username</label>
          </div>

          <div class="input-field col s6">
            <input type="password" class="validate" formControlName="Password"  required minlength="3">
            <label >Password</label>
          </div>

          <div class=" col s6">
            <input matInput type="text" formControlName="Firstname" >
            <label>First Name</label>
          </div>

          <div class="input-field col s6">
            <input type="text" formControlName="Lastname" >
            <label>Last Name</label>
          </div>

          <div class="input-field col s6">
            <input type="text" class="validate" formControlName="Email" [pattern]="emailPattern">
            <label>Email</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <button class="btn-large btn-submit" [disabled]="!UserRegistrationForm.valid" type="submit" >Register</button>
          </div>
        </div>
      </form>
      </div>
  </div>
</div>
