<mat-grid-list cols="1" rowHeight="3:1">
  <mat-grid-tile>
    <form class="col s12 white" class="card-content" [formGroup]="form" #UserRegistrationForm="ngForm"
          autocomplete="off"
          (ngSubmit)="submitForm(registerForm.value)">

      <h1 class="mat-h1">Register</h1>
      <div class="row">
        <mat-form-field class="example-full-width">
          <input type="text" type="text" formControlName="UserName" class="validate" required matInput>
          <mat-label data-error="Required Field">Username</mat-label>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input type="password" class="validate" formControlName="Password" required minlength="3" matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>First Name</mat-label>
          <input type="text" formControlName="Firstname" matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input type="text" formControlName="Lastname" matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="text" class="validate" formControlName="Email" [pattern]="emailPattern" matInput>
        </mat-form-field>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <button mat-flat-button color="primary" [disabled]="!UserRegistrationForm.valid" type="submit">Register</button>
        </div>
      </div>
    </form>
  </mat-grid-tile>
</mat-grid-list>
